#main{
    text-align: center;
    font-family:'Acme', sans-serif;
    font-size: 120%;
  }
  a{text-decoration:none;}
  .container{
    text-align: center;
    background-color: #c2c2d6;
    border: 10px grey solid;
    border-radius:6px;
  }
  .container ul{
     list-style: none;
   padding: 2px;
  }
  .image{
    display:block;
     
      margin: auto;
    width:70%;
    max-width:50%;}
  }
  