html,body{
    font-family: 'Lato', sans-serif;;
    font-size: 20px;
    height: 100%;
    background-color: black;
    text-align: center;
    color: white;
  }
  
  
  #image{
    display: block;
    margin-left: 42%;
  }
  img{
    width: auto;
    height: 200px;
    object-fit: contain;
  }
  #nav-bar{
    
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 0px;
  }
  
  .item{
    padding: 2px;
    margin: 1px 20%;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  button{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background: papayawhip, salmon;
    margin: 3px 5px;
    border: 0;
    font-weight: bolder;
  }
  button:focus{
    outline: none;
  }
  
  a{
   color:white;
    margin: 3px;
    padding: 2px;
  }
  a:visited,a:link{
    font-size: 1.5em;
    color: red;
  }
  a:hover{
    color: blue;
  }
  
  
  
  .product-pricing{
    display: flex;
    margin: 1px 20%;
  }
  .pricing{
    width: 150px;
    height: 50px;
    background-color: whitesmoke;
  }
  .product-working{
    display: block;
    
    
  }
  
  div.form{
    margin-top: 10px;
  }
  form{
    display: block;
    flex: 1 1 ;
    margin: 1px 20%;
    flex-direction: column;
  }
  #email,#submit{
    border: 1px solid black;
    height: 40px;
    width: 60%;
    margin: 3px 5%;
    font-weight: bolder;
    text-align: center;
  }
  #submit{
    background: black;
    color: white;
  }
  
  
  @media all and (max-width: 950px){
    body{
      font-size: auto;
    }
    .container{
      flex-direction: column;
      margin: 1px 20%;
    }
    img{
      width: 100%;
      height: 40%;
      object-fit: contain;
    }
    button{
      width: 100%;
    }
    .item{
      margin: 10px 20%;
    }
    .product-working{
      width: 50%;
    }
    #nav-bar{
      font-size: 12px;
    }
      figure > figcaption{
          text-align: center;
      }
  }